html, body {
  font-family: monospace, Arial, Helvetica, sans-serif;
  color: #020202;
  text-align: center;
  padding-top: 2em;
  background-color: #e2e2e2;
}

h1 {
  font-size: 4em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
}

blockquote {
  position: relative;
  font-family: cursive;
  text-wrap: balance;
  font-size: 2em;
  opacity: 0.7;
}

blockquote:before {
  content: "\201C";
}

blockquote:after {
  content: "\201D";
}
