html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #020202;
  background-color: #e2e2e2;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  font-family: monospace, Arial, Helvetica, sans-serif;
  flex-grow: 1;
  text-align: center;
}

footer {
  padding: 1em;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  padding-top: 3em;
  font-size: 4em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
}

blockquote {
  position: relative;
  font-family: cursive;
  text-wrap: balance;
  font-size: 2em;
  opacity: 0.7;
}

blockquote:before {
  content: "\201C";
}

blockquote:after {
  content: "\201D";
}
